
html {
  scroll-behavior: smooth;
}


body{
  background-color: #f9f9f9;
  margin: 0;
}

h1, h2, h3, h5, p{
  font-family: 'Lato', sans-serif;
}


a {
  text-decoration: none;
}

li::before {
  content: '';
  background-color: hwb(284 22% 62% / 0.75);
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 3px;
  transition: all .3s ease-in-out;
}
li:hover::before {
  bottom: 0;
  height: 100%;
}

.nav{
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font: 100;
}

.homenav {
  display: flex;
  padding-left: 50px;
}

.sectionIntro {
  margin: 0;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 300px;
  border: 0;
  height: 100%;
  background: radial-gradient(#eb6725 25%, #220f4d);
  background-size: 300%; 
  animation: gradeInOut 10s ease-in-out infinite alternate;
}

@keyframes gradeInOut {
  0% {background-position: left;}
  100% {background-position: right;}
}

.bigT {  
  color: #f9f9f9;
  font-size: 120px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-weight: 300;
}

@media (max-width: 400px) {
  .bigT {
    font-size: 30px;
  }
}

.intro { 
  text-align: center;
  color:#f9f9f9;
  font-size: 27px;
  font-weight: 100;
}


.pageTitle {
  color: #35174a;
  font-size: 60px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
  /* text-align: center; */
}

/* PROJECT */

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 2%;
}

#sectionProject {
  background-color: #FCF6F0;
  padding: 50px;
  margin: 0;
  height: 100vh;
}


ul {
  list-style-type: none; /* Remove bullets */
}

li {
  display:inline-block;
  position: relative;
  width: auto;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #35174a; 
  text-transform: uppercase;
}
@media (min-width: 319px) and (max-width: 480px) {
  li {
    font-size: 15px;
  }
}



/* ABOUT ME */

#sectionAbout {
    padding: 50px;
    margin: 0;
    height: 100vh;
  }


.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 23px;
  font-weight: 400;
  color: #35174a; 
}

@media (min-width: 319px) and (max-width: 480px) {
  .text {
    font-size: 13px;
  }
}

.about {
  background-image: radial-gradient(#eb6725,hsl(252, 82%, 57%));
  border-radius: 100%;
  filter: blur(50px);
  animation: rotate 50s linear infinite forwards;
  background-size: 150%;
  position: fixed;
  bottom: 2%;
  left: 25%;
  width: 700px;
  height: 100vh;
  z-index: -1;
  }

@keyframes rotate {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
  }

@keyframes gradeInOut {
0% {background-position: left;}
100% {background-position: right;}
  }


  #sectionContact {
    background-color: #FCF6F0;
    padding: 50px;
    margin: 0;
    height: 100vh;
  }


/* FOOTER */

footer{
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 3px;
}
